{% extends "base.html" %}
{% load catalog_tags %}
	{% load search_tags %}
	
	
{% block catalogCss %}
	<link href="/static/css/catalog_style.css" rel="stylesheet" />
{% endblock %}	
{% block site_wrapper %}
	
			<div class="e-row">
				<div class="span2" style="width: 15%; float:left; margin: 0">
					{% include 'tags/category_list.html'%}
				</div>
				<div class="span12" style= "width: 80%; line-height: 30px; margin-left: 5%;">
					{% block catalog_content %}{% endblock %}
				</div>
			</div>			
	
{% endblock %}
